        
<div class="cd-content">                     
    <div class="cd-content-left">

        {{> post }}

		{{> footer }}
	</div>
	<div class="cd-content-right">
	    <div class="cd-content-right-tweets roundy">
             <a class="twitter-timeline"
                href="https://twitter.com/KrisTheSavage/likes"
                data-widget-id="730876444591706112" data-tweet-limit="4"
				data-chrome="transparent noheader nofooter noborders"></a>
            
	    </div>
		<div class="cd-content-right-links roundy">
    	    <div class="cd-content-links-list" >
			    <ul>
                    <li class="link">
					    <a href="http://www.mountimprobable.com/"
						    target="_blank"><p>Life Games</p></a></li>        
		            <li class="link">
					    <a href="http://map.norsecorp.com/"
						    target="_blank"><p>War Games</p></a></li>		
		            <li class="link">
						<a href="http://devopsreactions.tumblr.com"
							target="_blank"><p>A picture is worth...</p></a>
                    </li>
		            <li class="link">
						<a href="https://www.reddit.com/"
							target="_blank"><p>...pearls under tons of kaka</p></a>
                    </li>
		            <li class="link">
						<a href="http://www.smbc-comics.com/"
							target="_blank"><p>Funny/Smart</p></a>
					</li>		
		            <li class="link">
						<a href="http://xkcd.com/"
							target="_blank"><p>Smart/Funny</p></a>
					</li>			
		            <li class="link">
						<a href="http://explosm.net/"
							target="_blank"><p>Funny/Sick</p></a></li>				
		        </ul>
			</div>
    	</div>
	</div>
</div><!-- End of cd-content -->    
