<div class="cd-footer">
    <div class="cd-footer-tech">
        <div class="cd-footer-left">
        </div>
        <div class="cd-footer-right">
        </div>
    </div>
    <p>2016 by Catz Rulz Development</p>
</div>
