
    {{#if post}}
    <div class="cd-post-title">{{ post.post_title }}</div>
    <div class="cd-post-meta link">{{ post.post_date }}
        {{#if user}}
        <a id="edit-post" href="/post/edit/{{post.postid}}">Edit</a>
        {{/if}}
    </div>

    <div class="cd-post-content">{{{ post.post_content }}}</div>
    {{/if}}

