
    {{#if post}}
    <div class="cd-post-title">{{ post.post_title }}</div>
    <div class="cd-post-meta">{{ post.post_date }}</div>

    <div class="cd-post-content">{{{ post.post_content }}}</div>
    {{/if}}
