<div class="cd-content">                     
    <div class="cd-content-left">
        {{#if editor}}
            {{> editor}}
        {{/if}}    
	</div>
	<div class="cd-content-right">
	    <div class="cd-content-right-tweets roundy">

	    </div>
		<div class="cd-content-right-links roundy">
    	    
    	</div>
	</div>
</div><!-- End of cd-content -->
