<!DOCTYPE html> 
<html>  
    <head>        
        <title>404 catdamnit!!! 404!</title>
        <link rel='stylesheet' href='/stylesheets/fonts.css' />
        <link rel='stylesheet' href='/stylesheets/error.css' />
    </head>
    <body>
        <img class="cd-bg" src="../images/catdamnit_404.jpg" >
        <div class="cd-body">
            <div class='cd-error-header'><h1> 404! Catdamnit!!! 404! </h1></div>
            <div><h1> You're lost human! </h1></div>
            <div><h1> You better go back <a href="/">home</a> right meow. </h1></div>
            <div><h1> {{message}}</h1></div>
            <div><h1> {{error}}</h1></div>
        </div>
    <body>
</html>
