<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <meta name="viewport" content="width=device-width"/>
        <meta name="description" content="The Curriculum Vitae."/> 

        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/mycv.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css">

    </head>
    <body class="login-wrap">
        <div class="login">
            <h1>Login</h1>
            <form method="post" action="/cv/login">
    	        <input type="text" name="username" placeholder="Username" required="required"/>
                <input type="password" name="password"
                                        placeholder="Password" required="required"/>
                <button type="submit" class="btn">See CV</button>
            </form>
        </div>
    </body
</html>
