<!DOCTYPE html>
<html>
<head>
  <title>Curriculum Vitae</title>
  
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="The Curriculum Vitae."/>
  
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
  <link type="text/css" rel="stylesheet" href="stylesheets/mycv.css"/>
  <link type="text/css" rel="stylesheet" href="stylesheets/fonts.css">
    
  </head>
  <body id="top">
    <div id="cv" class="instaFade">
      <div class="main-details">
	<div id="headshot" class="quickFade">
	  
	</div>
	
	<div id="name">
	  <h1 class="quickFade">Krzysztof Grobelak</h1>
	  <h2 class="quickFade">I'm just a tech...</h2>
	</div>
	
	<div id="contact-details" class="quickFade">
	  <ul>
	    <li>E: <a href="mailto:kris@catdamnit.com"
            target="_blank">kris@catdamnit.com</a></li>
	    <li>W: <a href="https://catdamnit.com">catdamnit.com</a></li>
            <li>L: <a href="https://ie.linkedin.com/in/catzrulz">linkedin.com/in/catzrulz</a></li>
	    <li>M: <a>+353 (0) 86 020 1478</a></li>
	  </ul>
	</div>
	<div class="clear"></div>
      </div>
      
      <div id="mainArea" class="quickFade">
	<section>
	  <article>
	    <div class="section_title">
	      <h1>Me, myself and I</h1>
	    </div>
	    
	    <div class="section_body">
	      <p>Jack of all trades and master of some ;) Highly proficient with <em>VoIP</em>,
              <em>Telephony</em> and <em>Networking</em>. I gained my skills and experience in startup type
              companies where I got to be exposed to different technologies. This gave me understanding and
              insight into systems operation from its hardware to the application layer which allows me to
              build highly available systems on traditional and <em>cloud based</em> platforms.
              Even though last 7 years I worked with network oriented technologies I never stopped thinking
              about my first love - <em>Embedded Engineering</em>.
              I also like <em>cats</em>.</p>
	    </div>
	  </article>
	  <div class="clear"></div>
	</section>

        <section>
	  <div class="section_title">
	    <h1>Career Achievements</h1>
	  </div>

          <article>
            <div class="section_body">
              <p>Designed and created a custom billing system for VoIP data.</br>
              Reduced software costs by implementing multiple open source solutions.</br>
              Became head of the VoIP Engineering department.</br>
              Boosted security standing by implementing multiple security policies.</br>
              Created centralised network and VoIP monitoring system.</p>
            </div>
          </article>
          <div class="clear"></div>
        </section>
	
	<section>
	  <div class="section_title">
	    <h1>Work</h1>
	  </div>
	  
	  <div class="section_body">
            <article>
	      <h2>Systems Architect at Enet <br/></h2>
	      <p class="cd-cv-sub-details">January 2017 - Present</p>
	      <p>Joined Enet as part of a small <em>team</em> tasked with implemneting OSS/BSS system.
              My particular assignment is to architect large scale, subscriber network and <em>AWS</em> based
              control infrastructure. Additionally I'm responsible with providing and implementing
              <em>security</em>
              policies for the project. I also continue development work and created a VoIP number management
              database.
              </p>
	    </article>
            
	    <article>
	      <h2>Systems and Software Engineer at Airspeed Telecom</h2>
	      <p class="cd-cv-sub-details">July 2011 - January 2017</p>
	      <p>For long time the <em>only</em> software developer in company. Initilly tasked with creating
              a front-end and customised setup for a <em>open source</em> billing software I eventually ended
              up creating one myself. This was also my first contact with the <em>VoIP</em> and a Cirpack
              soft switch platform. I'm now the <em>head of voice</em> engineering performing all the
              changes, maintenance and troubleshooting as well as all expansion decisions. My additional role
              is the <em>DevOps</em> and <em>System Administration</em>(initially)  making sure that mine and
              all other software and systems are up and running. I <em>evaluate</em> and <em>integrate</em>
              commercial and (mainly) open source software and play key role in <em>decisions</em> related to
              company systems and vendor selections. I was heavily involved in a design and
              <em>deployment</em> of small and <em>large scale</em> network and VoIP projects
              (<em>MPLS</em> and subscriber). Recently I implemented our own private cloud using the
              <em>OpenStack</em> framework. If needs be I can go down and dirty and make some <em>C</em>
              middle-ware or implement a Kalman filter in a <em>node.js</em> app.</p>
	    </article>
	    
	    <article>
	      <h2>QA and Embedded Engineer at Astec Ltd.</h2>
	      <p class="cd-cv-sub-details">April 2005 - June 2011</p>
	      <p>Started as <em>Electronic</em> Technician/General Operative. Then gradually
              <em>advanced</em> into more responsible roles such as <em>Quality Assurance</em> Engineer and
              became responsible for overseeing and performing a goldplating process of the contact elements
              used for alarm sensors ( ~1 Ohm ). As time passed I started performing <em>maintenance</em>
              and servicing of the test equipment and became involved into the <em>design</em> of new
              products and sensor types. Gradually I started designing and <em>developing</em> test equipment
              for new range of wired and wireless sensors. Eventually I <em>progressed</em> to become a
              member of the <em>R&D</em> team. During time in Astec I gained experience from large number of
              fields of <em>engineering</em> with emphasis on <em>embedded</em> system design,
              microcontroller <em>programming</em> (8/16/32 bit), telecommunication, PCB design and
              manufacturing, <em>troubleshooting</em>, circuit simulation. Not to mention knowledege of
              standards related to the alarm systems industry or physical phenomena employed in alarm
              devices.</p>
	    </article>
	    
	  </div>
	  <div class="clear"></div>
	</section>
	
	<section class="skills">
	  <div class="section_title">
	    <h1>Skills</h1>
	  </div>
	  
	  <div class="section_body">
	    <ul class="key-skills">
	      <li>C, Python, Javascript, Bash, Expect, Java, CSS, HTML, few templating engines</li>
	      <li>GNU Tools, Git, [cross]compilation, code debugging, openOCD</li>
              <li>Systems programming, Information Security</li>
	      <li>Linux, Embedded Linux, Beaglebone, Raspberry PI</li>
	      <li>Virtualisation, KVM, Open Stack, AWS Cloud</li>
	      <li>ARM (STM32), M16C, PIC</li>
	      <li>Network protocols: IPv4, IPv6, BGP, OSPF, ISIS, LDP</li>
              <li>I2C, SPI, UART</li>
              <li>Process automation</li>
              <li>Circuit/PCB design (but bit rusty)</li>
	    </ul>
	  </div>
	  <div class="clear"></div>
	</section>
	
	<section>
	  <div class="section_title">
	    <h1>School</h1>
	  </div>
	  
	  <div class="section_body">
	    <article>
	      <h2>Dublin Institute of Technology</h2>
	      <p class="cd-cv-sub-details">B.Eng in Electronics and Computer Systems</p>
	      <p>Dublin Institute of Technology Director & Deans Award 2011<br/>
              The Rohde & Schwartz Project Prize 2011 <br/>
              for my final project</p>
	    </article>
	    
	    <article>
	      <h2>Institute of Technology Tallaght</h2>
	      <p class="cd-cv-sub-details">Higher Certificate in Electronic Engineering</p>
	      <p>Course heavily focused on Analog and Digital Electronics</p>
	    </article>
            
            <article>
	      <h2> Kosciuszko Group of Electrical Schools in Opole, Poland</h2>
	      <p class="cd-cv-sub-details">Electronic Technician in industrial automation</p>
	      <p>Analog and Digital Electronics, Physics, Mathematics</p>
	    </article>
	  </div>
	  <div class="clear"></div>
	</section>
        
        
        <section>
	  <div class="section_title">
	    <h1>Certifications</h1>
	  </div>
	  
	  <div class="section_body">
	    <article>
	      <h2>Certified Ethical Hacker</h2>
	      <p class="cd-cv-sub-details">EC-Council license 67541</p>
	      <p></p>
	    </article>
	    
	    <article>
	      <h2>OpenStack Bootcamp</h2>
	      <p class="cd-cv-sub-details">Mirantis Bootcamp OS100</p>
	      <p></p>
	    </article>
            
	  </div>
	  <div class="clear"></div>
	</section>
	
      </div>
    </div><!-- End of #cv -->
    
    <div class="cd-cv-menu">
      <div class="cd-cv-show-content inline">
        <ul>
          <li class="link inline">
            <a class="" id="cv-download" href="/cvget">Download</a>
          </li>
          <li class="link inline">
            <a class="" id="cv-print" href="#">Print</a>
          </li>
          <li class="link inline">
            <a class="" id="cv-logout" href="/cvlogout">Logout</a>
          </li>
        </ul>
      </div>
      <div class="cd-cv-btn inline">
        <div class="menu-symbol"></div>
      </div>
    </div> <!-- End of cd-navbar-menu -->
  </body>
  <script type="text/javascript"
	  src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/javascripts/doge.js"></script>
  <script type="text/javascript" src="/javascripts/cd.cv.js"></script>
</html>

