<!DOCTYPE html>
<html>
<head>
<title>Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The Curriculum Vitae."/>
    <meta charset="UTF-8"> 

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/mycv.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css">

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="main-details">
		<div id="headshot" class="quickFade">
			
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Krzysztof Grobelak</h1>
			<h2 class="quickFade delayThree">DevOps Monkey</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:kris@catdamnit.com"
                            target="_blank">kris@catdamnit.com</a></li>
				<li>w: <a href="https://catdamnit.com">catdamnit.com</a></li>
                <li>L: <a href="https://ie.linkedin.com/in/catzrulz">LinkedIn</a></li>
				<li>m: +353860201478</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="section_title">
					<h1>Me, myself and I</h1>
				</div>
				
				<div class="section_body">
					<p>Jack of all trades and master of some ;) Experienced DevOps Engineer and Programmer. Highly proficient with VoIP and Telephony. I gained my skills and experience in startup type companies where I got to be exposed to different technologies. This gave me understanding and insight into systems operation from its hardware to the application layer which allowed me to build highly available monitoring and billing systems. <br/>I also like cats.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
	
		
		<section>
			<div class="section_title">
				<h1>Work</h1>
			</div>
			
			<div class="section_body">
				<article>
					<h2>Systems and Software Engineer at Enet <br/>(formerly Airspeed)</h2>
					<p class="cd-cv-sub-details">July 2011 - Present</p>
					<p>Started as a single software developer tasked with creating a front-end for a open source billing software I eventually ended up writing one on my own. This was also my first contact with the VoIP and a Cirpack soft switch platform. I'm now it's administrator performing all the engineering changes, maintenance and troubleshooting. My other role is the DevOps/System Administrator making sure that mine and other software is up and running with scripted automation. I evaluate and implement commercial and (mainly) open source software and keep our servers up and running. After getting relatively comfortable  with networking I am also involved in several networking projects usually revolved around HA of our servers and firewalling. Recently I implemented our own private cloud using the OpenStack framework. If needs be I can go down and dirty and make some close to system high performance middle-ware or implement a Kalman filter in a node.js app.</p>
				</article>
				
				<article>
					<h2>QA and R&D engineer at Astec Ltd.</h2>
					<p class="cd-cv-sub-details">April 2005 - Jun 2011</p>
					<p>I started in Astec as a Electronic Technician/General Operative. Then gradually advanced into more responsible roles such as Quality Assurance Engineer and became responsible for overseeing and performing a goldplating process of the contact elements used for alarm sensors ( < 1 Ohm ). As time passed i started performing maintenance and servicing of the test equipment and became involved into the design of new products and sensor types. This is how i started designing and constructing test equipment for new range of wired and wireless sensors which eventually led me to became a member of the R&D team. During time in Astec i gained experience from large number of fields of engineering with emphasis on embedded system design, microcontroller programming (8/16/32 bit), telecommunication, PCB design and manufacturing, troubleshooting, circuit simulation. Not to mention knowledege of standards related to the alarm systems industry or physical phenomena employed in alarm devices.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="section_title">
				<h1>Skills</h1>
			</div>
			
			<div class="section_body">
				<ul class="keySkills">
					<li>Linux</li>
					<li>C, Python, Javascript, Bash, Tcl/Expect, Java</li>
                    <li>Virtualization</li>
                    <li>OpenStack</li>
					<li>Networking</li>
					<li>System Design</li>
					<li>Amazon Services</li>
					<li>OpenSource</li>
					<li>Information Security</li>
					<li>VoIP</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="section_title">
				<h1>School</h1>
			</div>
			
			<div class="section_body">
				<article>
					<h2>Dublin Institute of Technology</h2>
					<p class="cd-cv-sub-details">B.Eng in Electronics and Computer Systems</p>
					<p>Dublin Institute of Technology Director & Deans Award 2011<br/>
                        The Rohde & Schwartz Project Prize 2011 <br/>
                        for my final project</p>
				</article>
				
				<article>
					<h2>Institute of Technology Tallaght</h2>
					<p class="cd-cv-sub-details">Higher Certificate in Electronic Engineering</p>
					<p>Course heavily focused on Analog and Digital Electronics</p>
				</article>

                <article>
					<h2> Kosciuszko Group of Electrical Schools in Opole, Poland</h2>
					<p class="cd-cv-sub-details">Electronic Technician in industrial automation</p>
					<p>Analog and Digital Electronics, Physics, Mathematics</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


        <section>
			<div class="section_title">
				<h1>Certifications</h1>
			</div>
			
			<div class="section_body">
				<article>
					<h2>Certified Ethical Hacker</h2>
					<p class="cd-cv-sub-details">EC-Council license 67541</p>
					<p></p>
				</article>
				
				<article>
					<h2>OpenStack Bootcamp</h2>
					<p class="cd-cv-sub-details">Mirantis Bootcamp OS100</p>
					<p></p>
				</article>

			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div><!-- End of #cv -->
</body>
    <script type="text/javascript"
				src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/javascripts/cd.cv.js"></script>
</html>
