<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <meta name="viewport" content="width=device-width"/>
        <meta name="description" content="The Curriculum Vitae."/> 

        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/mycv.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css">

    </head>
    <body>
    </body
</html>
